*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{

    max-width: 1200px;
    margin: 0px auto;
    border: 1px solid gray;
    background: #161616;

    border-radius: 30px;
}
.header-up{
    display: flex;
}
.header-up .section-1{
   width: 50%;
}
.section-1 .postion{
    width: 100%;
}

.section-1 img{
    width: 100%;

}

.left-paragraph-1{
    margin: 80px 10px 10px 60px;
   
}
.header-big-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px; 


color: #FFFFFF;
}
.left-paragraph-1 p{
    font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #FFFFFF;

}
.left-paragraph-1 button{
    width: 187px;
    height: 56px;
    left: 246px;
    top: 529px;
    background: #DD0000;
    border-radius: 5px;

    margin-top: 30px;
}
.left-paragraph-1 button a{
    text-decoration: none;
    color: #FFFFFF;

    font-family: 'HelveticaNeue',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;

}
/* main starts */

main{
    width: 91%;
    margin: 100px auto;
    height: 100vh;
    background: #FFFFFF;
    border-radius: 30px;

}

.main-section{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-gap: 1em ;
   
}

.child{
    background: #FFFFFF;
    color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid rgb(238, 237, 237);
    padding: 20px;

}

.child:nth-child(1){
    grid-row: 1/4;
}
.all-button{
    background: #161616;
    text-align: center;
    align-items: center;
padding: 20px;
border-radius: 10px;
}
button{
    width: 200px;
}

.child .information{
    padding: 15px;
}
.child button{
    background-color: #ffffff;
    width: 100px;
    padding: 8px 25px;
    border-radius: 5px;
    margin-bottom: 18px;
}
.child button a{
    text-align: center;
    text-decoration: none;
    padding:20px auto;
    color: #2b2929;
}
.information .text{
    font-weight: 600;
font-size: 18px;
line-height: 27px;

color: #161616;
margin-bottom: 10px;
text-align: center;
}



.img-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;

}
.information .para-span{
    margin: 5px;
}
.info .duration{
    color: #161616;
    display: flex;
    margin: 10px;
}
.info .message{
    color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.info{
    /* display: flex;
    align-items: center; */
    /* justify-content: space-around; */
    /* padding-right: 50px; */
    margin-top: 10px;
    text-align: center;
}


/* footer stars */

footer{
    background-color: tomato;
    height: 200px;
    width: 100%;

}
.footer-text{
    text-align: center;
    color: #161616;
    justify-content: center;
}
.footer-text-h1{
    padding-top: 50px;
}
.nav-2{
    text-align: center;
}
.nav-2 a{
    text-decoration: none;
    color: #2b2929;
    margin-left: 15px;
}
/* mediaquary starts */

/* small mobail device */

@media only screen and (max-width:668px){
    .header-up{
        flex-direction: column;
        align-items: center;
    border-radius: 10px;
    }
    .section-1{
        width: 100%;
    }
    .left-paragraph-1{
        margin: 10px;
    }
    .header-big-text{

        font-family: 'Poppins' , sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
    }
    .left-paragraph-1 p{
 

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

    .left-paragraph-1 button{
        width: 150px;
        height: 56px;
        background: #DD0000;
        border-radius: 5px;
        margin-top: 30px;
    }

    .left-paragraph-1 button a{
        text-decoration: none;
        color: #FFFFFF;
    
        font-family: 'HelveticaNeue',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    }
    .main-section{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
 
}

/* small mobail device end */


/* medium pad divice start */

@media only screen and (min-width:668px) and (max-width:992px){
    .header-up{
        flex-direction: row;
        align-items: center;
        /* background: #161616; */
border-radius: 10px;
    }
    .section-1{
        width: 100%;
    }
    .left-paragraph-1{
        margin-left: 70px;
    }
    .header-big-text{

        font-family: 'Poppins' , sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 33px;
        /* text-align: center; */
        color: #FFFFFF;
    }
    .left-paragraph-1 p{
 

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    /* text-align: center; */
    color: rgba(255, 255, 255, 0.8);
}

    .left-paragraph-1 button{
        width: 150px;
        height: 56px;
        background: #DD0000;
        border-radius: 5px;
        margin-top: 30px;
    }

    .left-paragraph-1 button a{
        text-decoration: none;
        color: #FFFFFF;
    
        font-family: 'HelveticaNeue',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    }
    .main-section{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .child{
        flex-direction: row;
        align-items: center;
        border-radius: 10px;
    }

 
}